@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

:root {
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --sh-class: #4c97f8;
    --sh-identifier: white;
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
  }
  html {
    color-scheme: dark;
  }
}

html {
  min-width: 360px;
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em];
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply bg-neutral-50 dark:bg-neutral-900 rounded-lg overflow-x-auto border border-neutral-200 dark:border-neutral-900;
}

.prose code {
  @apply px-1 py-0.5 rounded-lg;
}

.prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
}

.prose code span {
  @apply font-medium;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose h2,
h3,
h4 {
  @apply font-medium tracking-tighter !important;
}

.prose strong {
  @apply font-medium;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.prose .tweet a {
  text-decoration: inherit;
  font-weight: 500;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.prose .callout > p {
  margin: 0 !important;
}

.title {
  text-wrap: balance;
}

/* CSS CARD */
/* IMAGE */
.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  text-align: center;
  object-fit: cover;
  object-position: center;
}

/* CONTAINER */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  /* background-color: #131516; */
  /* font-family: 'Lato', sans-serif; */
  /* padding: 25px 25px; */
}

/* CARD */
.card-container {
  display: flex;

  /* width: 650px; */
  /* height: auto; */
  background: linear-gradient(to right, #fb722e, #d4432c);
  border-radius: 12px;
  box-shadow: 1px 7px 10px 2px rgba(0, 0, 0, 0.15);
}

.descripcion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 60%;
}

.image,
.descripcion {
  padding: 30px;
  text-align: left;
  color: #fff;
}

.descripcion h2 {
  line-height: 2;
  font-weight: 500;
  font-size: medium;
}

.descripcion p {
  font-weight: 300;
  font-size: 17px;
}

.descripcion h1 {
  font-weight: 700;
}

/* ICONS */
.descripcion .icons {
  margin-top: 30px;
}
.descripcion .icons a {
  display: inline-block;
  color: #be1010;
  font-size: 30px;
  transition: 0.3s;
}
a:hover {
  transform: translateY(-3px) scale(1.05);
}

/* TOOLTIP */
.tooltip-text {
  /* position: absolute; */
  /* top: -25px;
  left: -115%;
  z-index: 2;
  width: 100px; */
  color: white;
  font-size: 12px;
  background-color: #000000;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
}
/* #fade {
  opacity: 0;
  transition: opacity 0.3s;
} */
.hover-text:hover #fade {
  opacity: 1;
}
.hover-text {
  position: relative;
  display: inline-block;
  margin: 10px;
  /* font-family: 'Lato', sans-serif; */
  font-weight: 200;
  text-align: center;
}

/* RESPONSIVE */
@media (max-width: 576px) {
  .container {
    padding: 0 15px;
  }
  .card-container {
    display: flex;
    flex-direction: column-reverse;
    background: linear-gradient(to right, #fb722e, #d4432c);
    width: 750px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .image img {
    width: 90px;
    height: 90px;
  }
  .image {
    padding: 15px 0 0 0;
  }
  .descripcion {
    max-width: 100%;
    padding: 10px 20px 18px 20px;
  }
  .descripcion h1 {
    font-weight: 400;
    font-size: 25px;
  }
  .descripcion h2 {
    line-height: 2;
    font-weight: 500;
    font-size: 17px;
  }
  .descripcion p {
    font-weight: 300;
    font-size: 15px;
  }
  .descripcion .icons {
    margin-top: 18px;
  }
}
@media (min-width: 320px) {
  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
}

.Aprendizado {
  display: flex;
  height: 100vh;
  font-family: 'Fira Code', 'Source Code Pro', 'Consolas', 'Monaco', 'DejaVu Sans Mono', 'Ubuntu Mono', monospace;
}

.sidebar {
  width: 250px;
  background-color: #1e1e1e;
  color: #ccc;
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  border-right: 1px solid #333;
}

.editor {
  flex: 1;
  background-color: #1e1e1e;
}

.file-tree {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.file-node {
  margin: 0;
  padding: 0;
  color: #ccc;
}

.file-node-content {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.file-node-name {
  font-family: 'Fira Code', 'Source Code Pro', 'Consolas', 'Monaco', 'DejaVu Sans Mono', 'Ubuntu Mono', monospace;
  font-size: 14px;
  margin-left: 10px;
}

.file-node-name:hover {
  color: #fff;
}

.file-node-name.open::before {
  content: "▼ ";
}

.file-node-name.closed::before {
  content: "▶ ";
}

.file-node.dir {
  font-weight: bold;
}

.file-node.file {
  font-style: italic;
}

.file-tree ul {
  padding-left: 20px;
  margin: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #111010;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
